@media (min-width: 425px) {
    .btn-p:before {
        background: url("../images/star.png");
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .btn-p:after {
        background: url("../images/star.png");
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        margin-top: -15px;
        margin-left: -35px;
    }
    
    .btn-p-md:before {
        background: url("../images/star.png");
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        margin-top: 35px;
        margin-left: 10px;
    }
    
    .btn-p-md:after {
        background: url("../images/star.png");
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        margin-top: -20px;
        margin-left: -35px;
    }
    
    .btn-p-lg:before {
        background: url("../images/star.png");
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        margin-top: 38px;
        margin-left: 10px;
    }
    
    .btn-p-lg:after {
        background: url("../images/star.png");
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        margin-top: -18px;
        margin-left: -35px;
    }

    .bg-star:before {
        background: url("../images/sparkler-green.png");
        background-repeat: no-repeat;
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        margin-top: 105px;
        margin-left: -185px;
    }

    .bg-star:after {
        background: url("../images/bg-star.png");
        background-repeat: no-repeat;
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        margin-top: -155px;
        margin-left: 150px;
    }

    .bg-underline-md:after {
        background: url("../images/bg-underline-sm.png");
        background-repeat: no-repeat;
        content: "";
        width: 150px;
        height: 30px;
        position: absolute;
        margin-top: -5px;
        margin-left: 45px;
    }

    .bg-underline-gimmick:before {
        background: url("../images/underline-md.png");
        background-repeat: no-repeat;
        content: "";
        width: 330px;
        height: 30px;
        position: absolute;
        margin-top: 105px;
        margin-left: -120px;
    }

    .bg-f7:after {
        background: url("../images/bg-fade.png");
        background-repeat: no-repeat;
        content: "";
        width: 600px;
        height: 600px;
        position: absolute;
        margin-top: -800px;
        margin-left: -200px;
        z-index: -100;
    }
}